/* Generics */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

/* / Generics */

/* Utilities */

.wrap{
    display: flex;
}

.wrap-column{
    display: flex;
    flex-direction: column;
}

.no-bullets{
    list-style-type: none;
}

.white{
    color: #fff;
}

.container{
    width: 70%;
    margin: auto;
}

.container-small{
    width: 60%;
    margin: auto;
}

.card{ 
    border-radius: 20px;
}

.img{
    background-color: coral;
}

.underline{
    text-decoration: underline;
}
/* / Utilities */


/* Content */
/**** HEADER ****/

header{
    background-color: #0084ff; 
}

header > .wrap{
    height: 100%;
   
    justify-content: space-between;
    align-items:baseline;
    line-height: 70px;
}

#logo{
    font-size: 2rem;
    font-weight: 700;
}

header nav > .wrap{
    gap: 20px;
}

#get-started{
    background-color: #fff ;
    padding: 8px 15px;
    border-radius: 20px;
}
/**** / HEADER ****/

/**** MAIN ****/

main{
    padding-top: 60px;
}
/* first-section */

#first-section > .container{
    gap: 30px;
    flex-wrap: wrap;
}

/* first article */
#first-section article:first-child{
    background-color: #b9ddff;
    width: calc((100% / 3) * 2 - 15px);
    flex-grow: 1;
    
}
#first-section article:first-child .wrap{
    padding: 30px 30px 0;
    gap: 5%;
    align-content: center;
    height: 100%;
}
#first-section article:first-child .text{
    width: 45%;
    align-items: flex-start;
} 

#first-section article:first-child a{
    display: inline-block;
    background-color: #0084ff;
    padding: 8px 20px;
    border-radius: 30px;
    margin-top: 20px;
}

#first-section article:first-child .img{
    width: 40%;
    align-self: flex-end;
    height: 120px;
}

/* / first article */


/* second article */
#first-section article:nth-child(2){
    width: calc(100% / 3 - 15px);
    padding: 30px;
    background-color: #caf0db;
}

#first-section article:nth-child(2) .wrap-column{
    align-items: center;
}
#first-section article:nth-child(2) .img{
    width: 100px;
    height: 100px;
}

#first-section article:nth-child(2) .text{
    text-align: center;
}
/* / second article */

/* third article */
#first-section article:nth-child(3){
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #fed2d1;
}

#first-section article:nth-child(3) .wrap-column{
    align-items: center;
}
#first-section article:nth-child(3) .img{
    width: 100px;
    height: 100px;
}

#first-section article:nth-child(3) .text{
    text-align: center;
}
/* / third article */

/* fourth article */
#first-section article:nth-child(4){
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #ffe7c3;
}

#first-section article:nth-child(4) .wrap-column{
    align-items: center;
}
#first-section article:nth-child(4) .img{
    width: 100px;
    height: 100px;
}

#first-section article:nth-child(4) .text{
    text-align: center;
}
/* / fourth article */

/* fifth article */
#first-section article:nth-child(5){
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #d5d4f4;
}

#first-section article:nth-child(5) .wrap-column{
    align-items: center;
}
#first-section article:nth-child(5) .img{
    width: 100px;
    height: 100px;
}

#first-section article:nth-child(5) .text{
    text-align: center;
}
/* / fifth article */

#first-section h4{
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
}

/* / first-section */

/* second section */

#second-section{
    background-color: #9692e6;
    padding: 100px 0 30px;
}
#second-section > div{
    gap: 30px;
}

#second-section  article:first-child{
    width: calc(100% / 2 - 30px);
    
}

#second-section  article:first-child .img{
    width: 100%;
    height: 300px;
    background-color: #caf0db;
}

#second-section  article:first-child h2{
    margin: 80px 0 50px;
}

#second-section  article:nth-child(2){
    width: calc(100% / 2 - 30px);
    background-color: #fff;
    align-self: flex-end;
    border-radius: 40px;
}

#second-section  article:nth-child(2) .content{
    padding: 6% ;
    text-align: center;
}

#second-section  article:nth-child(2) p{
    font-style: italic;
}

#second-section  article:nth-child(2) i{
    margin-top: 30px;
    padding: 20px;
    border-radius: 50%;
    background-color: #9692e6 ;
}

#second-section  article:nth-child(2) .img{
    width: 100% ;
    height: 200px;
}
/* / second section */
/**** / MAIN ****/

/**** FOOTER ****/
/**** / FOOTER ****/

/* / Content */