/* Generics */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* / Generics */

/* Utilities */
/* / Utilities */


/* Content */
/* / Content */