/* Generics */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
}

a{
    text-decoration: none;
}

/* / Generics */

/* Utilities */

.wrap{
    display: flex;
}

.wrap-column{
    display: flex;
    flex-direction: column;
}

.no-bullets{
    list-style-type: none;
}

.white{
    color: #fff;
}

.container{
    width: 70%;
    margin: auto;
}

.container-small{
    width: 60%;
    margin: auto;
}

.container-extra-small{
    width: 45%;
    margin: auto;
}

.card{ 
    border-radius: 20px;
}


.underline{
    text-decoration: underline;
}
/* / Utilities */


/* Content */
/**** HEADER ****/

header{
    background-color: #0084ff; 
}

header > .wrap{
    height: 100%;
    justify-content: space-between;
    align-items:baseline;
    line-height: 70px;
}

#logo{
    font-size: 2rem;
    font-weight: 700;
}

header button{
    display: none;
    border: none;
    background: none;
}

header nav > .wrap{
    gap: 15px;
}

#get-started{
    background-color: #fff ;
    padding: 8px 15px;
    border-radius: 20px;
}
/**** / HEADER ****/

/**** MAIN ****/

main{
    padding-top: 60px;
}
/* first-section */

#first-section > .container{
    gap: 30px;
    flex-wrap: wrap;
}

#first-section .img{
    font-size: 5rem;
    margin-bottom: 40px;
    text-align: center;
}

#first-section article h2{
    margin-bottom: 20px;    
}

/* first article */
#first-section article:first-child{
    background-color: #b9ddff;
    width: calc(100% / 3 - 15px);
    flex-grow: 1;
    
}
#first-section article:first-child .wrap{
    padding: 30px 30px 0;
    gap: 5%;
    align-content: center;
    height: 100%;
}
#first-section article:first-child .text{
    width: 55%;
} 

#first-section article:first-child h2{
    color: #0084ff;
} 

#first-section article:first-child a{
    display: inline-block;
    background-color: #0084ff;
    padding: 8px 20px;
    border-radius: 30px;
    margin-top: 20px;
}

#first-section article:first-child .img-large{
    width: 40%;
    align-self: flex-end;
    height: 250px;
    border-radius: 40px;
}

/* / first article */


/* second article */
#first-section article:nth-child(2){
    width: calc(100% / 3 - 15px);
    padding: 30px;
    background-color: #caf0db;
}

#first-section article:nth-child(2) .wrap-column{
    align-items: center;
}


#first-section article:nth-child(2) .text{
    text-align: center;
}

#first-section article:nth-child(2) h2,
#first-section article:nth-child(2) .img{
    color: #54c688;
}

/* / second article */

/* third article */
#first-section article:nth-child(3){
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #fed2d1;
}

#first-section article:nth-child(3) .wrap-column{
    align-items: center;
}

#first-section article:nth-child(3) .text{
    text-align: center;
}

#first-section article:nth-child(3) h2,
#first-section article:nth-child(3) .img{
    color: #fe8a8a;
}
/* / third article */

/* fourth article */
#first-section article:nth-child(4){
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #ffe7c3;
}

#first-section article:nth-child(4) .wrap-column{
    align-items: center;
}

#first-section article:nth-child(4) .text{
    text-align: center;
}

#first-section article:nth-child(4) h2,
#first-section article:nth-child(4) .img{
    color: #fdc264;
}
/* / fourth article */

/* fifth article */
#first-section article:nth-child(5){
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #d5d4f4;
}

#first-section article:nth-child(5) .wrap-column{
    align-items: center;
}

#first-section article:nth-child(5) .text{
    text-align: center;
}

#first-section article:nth-child(5) h2,
#first-section article:nth-child(5) .img{
    color: #9692e6;
}
/* / fifth article */

#first-section h4{
    margin: 40px 0 20px;
    text-align: center;
    font-weight: 400;
}

/* / first-section */

/* second section */

#second-section{
    background-color: #9692e6;
    padding: 100px 0 30px;
}
#second-section > div{
    gap: 30px;
}

#second-section  article:first-child{
    width: calc(100% / 2 - 30px);
    
}

#second-section  article:first-child img{
    width: 100%;
    
}

#second-section  article:first-child h2{
    margin: 80px 0 50px;
}

#second-section  article:first-child p{
    margin-bottom: 20px;
}

#second-section  article:nth-child(2){
    width: calc(100% / 2 - 30px);
    background-color: #fff;
    align-self: flex-end;
    border-radius: 40px;
}

#second-section  article:nth-child(2) h2{
    margin: 40px 0 20px;
}

#second-section  article:nth-child(2) .content{
    padding: 6% ;
    text-align: center;
}

#second-section  article:nth-child(2) p{
    font-style: italic;
}

#second-section  article:nth-child(2) i{
    margin-top: 20px;
    padding: 15px;
    border-radius: 50%;
    background-color: #9692e6 ;
}

#second-section  article:nth-child(2) img{
    width: 100% ;
}
/* / second section */

/* third section */

#third-section > div{
    gap: 40px;
}
#third-section .title{
    padding-top: 30px;
    text-align: center;
    width: 90%;
    margin: auto;
}

#third-section .title h2{
    margin: 20px 0;
    color: #9692e6;
}

#third-section #almeda,
#third-section #reynolds,
#third-section #roberts{
    gap: 10%;
    padding: 20px ;
    align-items: center;
}

#third-section #reynolds{
    background-color: #ffbfbf;
}

#third-section .img{
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 50%;
}
#third-section .text{
    width: 60%;
}

#third-section .text h4{
    margin-top: 10px;
}

#third-section #almeda{
    background-color: #feddaa;
}

#third-section #roberts{
    background-color: #b2e9cabf;
}

#third-section > div > h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
}
/* / third section */

/* fourth section */
#fourth-section{
    background-color: #9692e6;
}

#fourth-section h2{
    font-size: 2rem;
    padding: 40px 0;
    text-align: center;
}
#fourth-section > .container > .wrap{
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 60px;
}
#fourth-section > .container > .wrap > article{
    width: calc(100% / 3 - 20px);
    padding: 30px;
    background-color: #f4f2fd
}

#fourth-section > .container > .wrap > article h4{
    color: #9692e6;
    font-size: 4rem;
}

#fourth-section > .container > .wrap > article h3{
    color: #9692e6;
    margin: 20px 0;
}

#fourth-section > .container > .wrap > article p{
    color: grey;
}

#fourth-section > .container > .wrap > article a{   
    display: inline-block;
    margin: 20px 0 30px;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #9692e6;
}
/* / fourth section */

/* fifth section */

#fifth-section{
    line-height: 40px;
    padding: 70px 0;
}

#fifth-section .container{
    gap: 40px;
}
#fifth-section #about-us{
    width: calc(60% - 20px);
}

#fifth-section #about-us p{
    font-size: 1.3rem;
}

#fifth-section #user-profile{
    width: calc(40% - 20px);
    
}
#fifth-section h2{
    font-size: 4rem;
    color: #9692e6;
    margin-bottom: 30px;
}

#fifth-section #user-profile .img{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
}

#fifth-section #user-profile i{
    font-size: 3rem;
    color: #ffbfbf;
    position: absolute;
    top: 5%;
    right: 0;
}

#fifth-section #user-profile p{
    margin: 30px 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: #9692e6;
}

#fifth-section #user-profile a{
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #9692e6;
    border-radius: 5px;
    padding: 8px 15px;

}

#fifth-section #about-us p{
    margin-bottom: 30px;
}
/* / fifth section */

/* sixth section */
#call-to-action{
    padding: 30px 0;
    background-color: #9692e6;
}

#call-to-action > div{
    margin: 70px auto;
    align-items: center;
    text-align: center;
}

#call-to-action > div div:first-child{
    opacity: 0.5;
    margin-bottom: 30px;
}

#call-to-action > div div:nth-child(2){
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: 400;
}

#call-to-action > div div:nth-child(3){
    color: #fcbf67;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 50px;
}

#call-to-action > div a{
    font-size: 1.3rem;
    color: #9692e6;
    padding: 20px 100px;
    background-color: white;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* /sixth section */
/**** / MAIN ****/

/**** FOOTER ****/
footer{
    background-color: #333333;
    text-align: center;
}

footer p {
    margin: 30px 0 50px;
}

footer >div > div{
    margin-bottom: 30px;
}
footer span.underline{
    color: #9692e6;
}
/**** / FOOTER ****/

/* / Content */