/* media query for tablet */
@media screen and (max-width: 850px) {
    /* Utilities */
    .container, 
    .container-small{
        width: 85%;
    }

    .container-extra-small{
        width: 70%;
    }
    /* / Utilities */

    /* header */
    header button{
        display: inline-block;
        font-size: 1.6rem;

    }
    header nav{
        display: none;

    }
    /* / header */

    /* main */

    /* second section */
    #second-section > div{
        flex-direction: column;
        align-items: center;
    }

    #second-section  article:first-child,
    #second-section  article:first-child .img,
    #second-section article:last-child,
    #second-section  article:nth-child(2) .img{
        width: 100%
    }

    #second-section  article:first-child .img{
        height: 500px; 
    }

    #second-section  article:first-child h2{
        font-size: 3rem;
        line-height: 50px;
    }

    #second-section article:last-child{
        align-self: center;
    }

    #second-section  article:nth-child(2) .img{
        height: 500px;
    }
    /* / second section */

    /* third section */
    #third-section h2{
        font-size: 1.9rem;
    }

    #third-section {
        font-size: 1.2rem;
    }

    #third-section .img{
        width: 170px;
        height: 170px;
    }
    /* / third section */

    /* fourth section */

    #fourth-section > .container > .wrap > article{
        width: calc(100% / 2 - 20px);
    }
    /* / fourth section */

    /* fifth section */

    #fifth-section h2{
        margin-bottom: 50px;
    }

    /* / fifth section */
    /* / main */
}

/* / media query for tablet */

/* media query for phone */

@media screen and (max-width: 390px) {
    /* utilities */
    .container,
    .container-small{
        width: 85%;
    }
    
    .container-extra-small{
        width: 85%;
    }

    .wrap{
        flex-direction: column;
        align-items: center;
    }
    /* / utilities */

    /* header */

    header .wrap{
        flex-direction: row;
    }
    /* / header */


    /* main */
    /* first section */

    #first-section article:first-child,
    #first-section article:first-child .text,
    #first-section article:first-child .img-large,
    #first-section article:nth-child(2),
    #first-section article:nth-child(3),
    #first-section article:nth-child(4),
    #first-section article:nth-child(5),
    #fifth-section #user-profile,
    #fifth-section #about-us,#fourth-section > .container > .wrap > article{
        width: 100%;       
    }
    
    #first-section article:first-child .img-large{
        align-self: stretch;
    }

    #first-section article:first-child a{
        margin-bottom: 20px;
    }
    /* / first section */
    
    /* second section */
    #second-section  article:first-child .img{
        height: 300px; 
    }

    #second-section  article:first-child h2{
        font-size: 1.5rem;
    }
    /* / second section */

    /* third section */
    #third-section h3{
        font-size: 1.2rem;
    }

    #third-section h2{
        font-size: 1.4rem;
    }

    #third-section {
        font-size: 1rem;
    }

    #third-section .img{
        width: 190px;
        height: 190px;
    }

    #third-section .text{
        margin-top: 20px;
        width: 90%;
        text-align: center;    }
    /* / third section */

    /* fourth section */

    #fourth-section h2{
        font-size: 1.7rem;
        line-height: 30px;
    }
    
    /* / fourth section */

    /* fifth section */

    #fifth-section h2{
        font-size: 2rem;
    }
    
    #fifth-section #about-us p{
        font-size: 1rem;
    }

    #fifth-section #user-profile p{
        font-size: 1.3rem;
    }
    /* / fifth section */

    /* sixth section */
    #call-to-action > div div:nth-child(2){
        font-size: 1.5rem;
    }
    
    #call-to-action > div div:nth-child(3){
        font-size: 3rem;
    }
    
    #call-to-action > div p{
        font-size: .8rem;
    }

    #call-to-action > div a{
        font-size: 1rem;
        padding: 20px 60px;
        border-radius: 50px;
    }

    #call-to-action  div > span{
        font-size: .8rem;
    }
    /* / sixth section */
    /* / main */

    /* footer */
    
    footer p,
    footer >div > div{
        font-size: 0.75rem;
    }

    /* / footer */
}

/* / media query for phone */