@media screen and (max-width: 850px) {
    /* Utilities */
    .container{
        width: 85%;
        margin: auto;
    }
    .container-small{
        width: 85%;
    }

    .container-extra-small{
        width: 70%;
    }
    /* / Utilities */

    /* header */
    header button{
        display: inline-block;
        font-size: 1.6rem;

    }
    header nav{
        display: none;

    }
    /* / header */

    /* main */

    /* second section */
    #second-section > div{
        flex-direction: column;
        align-items: center;
    }

    #second-section  article:first-child{
        width: 100%
    }

    #second-section  article:first-child .img{
        width: 100%;
        height: 500px;
        background-color: #caf0db;
    }

    #second-section  article:first-child h2{
        font-size: 3rem;
    }

    #second-section article:last-child{
        align-self: center;
        width: 100%;
    }

    #second-section  article:nth-child(2) .img{
        width: 100% ;
        height: 500px;
    }
    /* / second section */

    /* third section */
    #third-section h2{
        font-size: 1.9rem;
    }

    #third-section {
        font-size: 1.2rem;
    }

    #third-section .img{
        width: 170px;
        height: 170px;
        background-color: yellow;
        border-radius: 50%;
    }
    /* / third section */

    /* fourth section */

    #fourth-section > .container > .wrap > article{
        width: calc(100% / 2 - 20px);
        padding: 30px;
        background-color: #f4f2fd
    }
    /* / fourth section */

    /* fifth section */

    #fifth-section h2{
        margin-bottom: 50px;
    }

    /* / fifth section */
    /* / main */

    
}